In [91]:
import pandas as pd
import metapack as mp
import geoid

In [9]:
# List the census summary level names for the three types of school districts, 
# elementary, secondary, and unified. 
[k for k in geoid.core.names.keys() if k.startswith('sd')]

['sdelm', 'sdsec', 'sduni']

In [142]:
# B01003 is the smallest census table; we just need the names and geoids. 
from rowgenerators import dataframe
sdelm = dataframe('census://2015/5/CA/sdelm/B01003')
sdelm['sd_type'] = 'elem'
sdsec = dataframe('census://2015/5/CA/sdsec/B01003')
sdsec['sd_type'] = 'sec'
sduni = dataframe('census://2015/5/CA/sduni/B01003')
sduni['sd_type'] = 'uni'

sd = pd.concat([sdelm, sdsec, sduni]).rename(columns={'name':'district_name'})

sd.head()

,stusab,county,district_name,b01003_001,b01003_001_m90,sd_type
geoid,,,,,,
95000US0600006,CA,,"Ross Valley Elementary School District, Califo...",23955,410,elem
95000US0600012,CA,,"Twin Ridges Elementary School District, Califo...",2485,438,elem
95000US0601420,CA,,"Fortuna Elementary School District, California",13093,296,elem
95000US0601680,CA,,"Ackerman Elementary School District, California",2509,310,elem
95000US0601710,CA,,"Adelanto Elementary School District, California",56774,2761,elem

In [146]:
from itertools import islice
# Geoids ending in '0699999' are for 'Remainder of California'
census_sd= { str(k)[-7:]:(v.sd_type, v.name, str(k)) for k,v in sd.iterrows() if str(k)[-7:] != '0699999'}
len(census_sd)

985

In [12]:

pkg = mp.open_package('http://library.metatab.org/cde.ca.gov-schools-1.zip')

# Create Dataframes

public_schools_df = pkg.resource('public_schools').dataframe()
school_districts_df = pkg.resource('school_districts').dataframe()
private_schools_2019_df = pkg.resource('private_schools_2019').dataframe()

In [19]:
school_districts_df[school_districts_df.district.str.contains('Ross Valley')].T

                                      414                                 415
cd_code                           2175002                             2177065
county                              Marin                               Marin
district           Ross Valley Elementary        SBE - Ross Valley Elementary
street                     110 Shaw Drive                   102 Marinda Drive
city                          San Anselmo                             Fairfax
zip                            94960-1112                          94930-1105
state                                  CA                                  CA
mailstreet                 110 Shaw Drive                   102 Marinda Drive
mailcity                      San Anselmo                             Fairfax
mailzip                        94960-1112                          94930-1105
mailstate                              CA                                  CA
phone                      (415) 454-2162                      (415) 534-6970
ext                               No Data                             No Data
admfname                             Rick                                Luke
admlname                           Bagley                             Duchene
admemail    rbagley@rossvalleyschools.org  luke.duchene@rossvalleycharter.org
latitude                          37.9818                             37.9898
longitude                        -122.562                             -122.59
doc                                    52                                   2
doctype        Elementary School District            State Board of Education
statustype                         Active                              Active
lastupdate            2019-01-31 00:00:00                 2019-07-06 00:00:00

In [38]:
public_schools_df.cdscode.apply(lambda v: len(str(v))).value_counts()

14    16320
13     1741
Name: cdscode, dtype: int64

In [22]:
public_schools_df['cdscode_str'] = public_schools_df['cdscode'].astype(str)

In [49]:
from collections import namedtuple
CDSCode = namedtuple('CDSCode','county district school')
def expand_cds(cdscode):
    cs = str(cdscode)
    if len(cs) in (6,13):
        # Conversion to int strips leading zero
        cs = '0'+cs
   
    if len(cs) == 14 :
        return CDSCode(cs[0:2], cs[2:-7], cs[:-7]) 
   
    elif len(cs) == 7:
        return CDSCode(cs[0:2], cs[2:-7], None)

In [80]:
public_schools_df['cds'] = public_schools_df.cdscode.apply(lambda v: expand_cds(v))
public_schools_df['cd_code'] = public_schools_df.cdscode.apply(lambda v: ''.join(expand_cds(v)[0:2]))

In [86]:
public_schools_df[['cd_code','ncesdist']].drop_duplicates().replace({'No Data': 'None'})

       cd_code ncesdist
0      0110017  0691051
42     0131609  0600002
44     0131617  0600003
46     0140402  0601397
47     0161119  0601770
84     0161127  0601860
97     0161135     None
106    0161143  0604740
143    0161150  0607800
170    0161168  0612630
177    0161176  0614400
240    0161192  0616740
308    0161200  0622110
341    0161218  0626130
343    0161226     None
353    0161234  0627060
378    0161242  0626910
401    0161259  0628050
642    0161267     None
643    0161275  0630330
652    0161283     None
660    0161291  0634680
679    0161309  0634710
714    0161325     None
716    0174005  0600084
718    0174013  0600085
720    0174021  0600086
722    0174039  0600088
724    0174187     None
726    0175093  0600019
...        ...      ...
17617  5672538  0629220
17642  5672546  0629270
17661  5672553  0630990
17682  5672561  0632760
17695  5672579  0635490
17697  5672587  0635730
17701  5672595  0635760
17702  5672603  0636840
17741  5672611  0637140
17744  5672645     None
17745  5672652  0640980
17786  5673759  0609640
17826  5673874  0627850
17836  5673940  0625690
17850  5674617  0600148
17852  5676828  0601421
17863  5710579  0691049
17882  5772678  0610620
17903  5772686  0612930
17909  5772694  0641580
17939  5772702  0642930
17950  5772710  0643080
17977  5774625  0600149
17979  5776695  0601413
17981  5810587  0691048
17996  5872728  0607260
17999  5872736  0624090
18040  5872744  0631180
18046  5872751  0642330
18054  5872769  0642350

[1439 rows x 2 columns]